 .header {
     display: flex;
     align-items: center;
     height: 50px;
     padding: 10px 0;
     background-color: orangered;
     margin-bottom: 3rem;
    
 }

 .header-nav {
     display: flex;
     flex-grow: 1;
     line-height: 30px;
 }

 .header-nav>* {
     flex-basis: 15%;
     padding: 5px 10px; 
     
     
 }

 .header-logo {
     flex-grow: 1;
     text-align: center;
 }

 ul li {
    display: inline-block;
    padding-right: 4px;
 }



 a {
    text-decoration: none;
    color: white;
 }

 .logo {
    height: 30px;
    text-align: center;
 }

 .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 5rem;
 }

 .col {
    width: 30%;
    position: relative;
 }

 .discount-badge {
    position: absolute;
    left: 0;
    bottom: 10%;
    background-color: red;
    color: white;
    padding: 5px 8px;
 }

 .sustainability {
    position: absolute;
    left: 15%;
    bottom: 10%;
    background-color: green;
        color: white;
    padding: 5px 8px;
 }

 .left-sustainability {
    position: absolute;
    left: 0;
    bottom: 10%;
    background-color: green;
    color: white;
    padding: 5px 8px;
 }
 

 .first-image {
    
    background-image: url(/img/1.webp);
    background-size: cover;
 }
 
.first-image:hover {
    background-image: url(/img/1b.webp);
}


 .second-image {
     
     background-image: url(/img/2.webp);
     background-size: cover;
 }


 .second-image:hover {
     background-image: url(/img/2b.webp);
 }


  .third-image {
     
      background-image: url(/img/3.webp);
      background-size: cover;
  }

  .third-image:hover {
      background-image: url(/img/3b.webp);
  }
 

.fourth-image {
    
    background-image: url(/img/4.webp);
    background-size: cover;
}

.fourth-image:hover {
    background-image: url(/img/4b.webp);
}

.fifth-image {
   
    background-image: url(/img/5.webp);
    background-size: cover;
}

.fifth-image:hover {
    background-image: url(/img/5b.webp);
}

.sixth-image {

    background-image: url(/img/6.webp);
    background-size: cover;
}

.sixth-image:hover {
    background-image: url(/img/6b.webp);
}

.image {
    width: 100%;
    height: 500px;
}

.relaxed {
    position: absolute;
    left: 0;
    bottom: -11%;
}

.price-discount {
    color: red;
    font-weight: bold;
}


.heart {
    position: absolute;
    top: 0;
    right: 0%;
    margin-top: 5px;
    background-color: white;
    font-size: 30px;
    text-align: center;
    width: 41px;
    height: 37px;
}

.heart:hover {
    color: red;
}