 .header {
     display: flex;
     align-items: center;
     height: 50px;
     padding: 10px 0;
     background-color: orange;
    
 }

 .header-nav {
     display: flex;
     flex-grow: 1;
     line-height: 30px;
 }

 .header-nav>* {
     flex-basis: 15%;
     padding: 5px 10px; 
     
     
 }

 .header-logo {
     flex-grow: 1;
     text-align: center;
 }

 ul li {
    display: inline-block;
 }

 a {
    text-decoration: none;
    color: white;
 }

 .logo {
    height: 30px;
    text-align: center;
 }

 .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 5rem;
 }

 .col {
    width: 30%;
 }